:root {
    --custom-primary-font-sans: 'Latin Modern Sans', 'Futura', Helvetica, Arial, sans-serif;
    --custom-primary-font-sans-bold: 'Latin Modern Sans Bold', 'Futura', Helvetica, Arial, sans-serif;
}

.custom-movieTitle-Paddig {
    padding-left: 2.5rem;
}
.custom-movieDropDown-padding{
    padding-left: 1rem;
}

.custom-logo-navbar {
    height: 3em;
}