:root {
    --custom-primary-font-sans: 'Latin Modern Sans', 'Futura', Helvetica, Arial, sans-serif;
    --custom-primary-font-sans-bold: 'Latin Modern Sans Bold', 'Futura', Helvetica, Arial, sans-serif;
    --custom-navbar-toggler-icon-bg: url("/img/ui/ui-hamburger.svg");
    --custom-btn-close-bg: url("/img/ui/ui-close.svg");
}

/* Logo 
Usage:
------
Logo size will adapt after text size; for example, use className="h4" in parent
*/
.custom-logo-navbar {
    height: 2.4em;
    margin-bottom: .4em;
    transform: translateX(-.1em); // IS LOGO REALLY CENTERED???
}

.custom-text-logo {
    font-family: 'Latin Modern Sans Demi Cond', 'Futura', Helvetica, Arial, sans-serif;
    letter-spacing: .12em;
}

/* End Logo */

/* Custom UI elements */

.navbar-toggler-icon {
    background-image: var(--custom-navbar-toggler-icon-bg);
}

.btn-close {
    background-image: var(--custom-btn-close-bg);
    opacity: 1;
}

.navbar-toggler-icon:hover,
.btn-close:hover {
    opacity: 0.75;
}

.nav-back::before {
    content: url("/img/ui/ui-backarrow.svg");
    padding-right: .5em;
}

/* End Custom UI elements */

// Fix för aspect ratio på bilderna i StartView
.ratio-6x9 {
    aspect-ratio: 6/9;
}

/* Screenings listing */

.screening-list-item {
    cursor: pointer;
}

/* End Screenings listing */

/* Sticky Footer */
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}
/* End Sticky footer */