:root {
    --custom-primary-font-sans: 'Latin Modern Sans', 'Futura', Helvetica, Arial, sans-serif;
    --custom-primary-font-sans-bold: 'Latin Modern Sans Bold', 'Futura', Helvetica, Arial, sans-serif;
    --custom-navbar-toggler-icon-bg: url("/img/ui/ui-hamburger.svg");
    --custom-btn-close-bg: url("/img/ui/ui-close.svg");
}

/* Logo 
Usage:
------
Logo size will adapt after text size; for example, use className="h4" in parent
*/
.custom-logo-navbar {
    height: 2.4em;
    margin-bottom: .4em;
    transform: translateX(-.1em); // IS LOGO REALLY CENTERED???
}

.custom-text-logo {
    font-family: 'Latin Modern Sans Demi Cond', 'Futura', Helvetica, Arial, sans-serif;
    letter-spacing: .12em;
}

/* End Logo */

/* Custom UI elements */

.navbar-toggler-icon {
    background-image: var(--custom-navbar-toggler-icon-bg);
}

.btn-close {
    background-image: var(--custom-btn-close-bg);
    opacity: 1;
}

.navbar-toggler-icon:hover,
.btn-close:hover {
    opacity: 0.75;
}

.nav-back::before {
    content: url("/img/ui/ui-backarrow.svg");
    padding-right: .5em;
}

/* End Custom UI elements */

/* Display utility classes */

// Fix för aspect ratio på bilderna i StartView
.ratio-6x9 {
    aspect-ratio: 6/9;
}

.mw-reading-len {
    max-width: 65ch;
}

.mw-mh-lg {
    max-width: 993px;
    max-height: 558px;
}

/* End Display utility classes */

// MovieView
.screening-list-item {
    cursor: pointer;
}

.movie-details > h6 {
    color: #8e918e;
}

@media screen and (max-width: 500px)  {
    .movie-information-container {
        display: block;
    }
    .chairImage {
        width:29px;
        margin: 1px;
    }
}
@media screen and (min-width: 501px) and (max-width: 639px)  {
    .chairImage {
        width:35px;
        margin: 3px;
    }
}
@media screen and (min-width: 640px) and (max-width: 991px)  {
    .chairImage {
        width:45px;
        margin: 5px;
    }
}
@media screen and (min-width: 992px)  {
    .movie-information-container {
        display: inline-flex;
    }
    .chairImage {
        width:55px;
        margin: 6px;
    }
}
  

// End MovieView

/* Sticky Footer */
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}
/* End Sticky footer */