/* Base styles for the AccountView component */
.my-4 {
    margin-top: 4rem;
  }
  
  .text-center {
    text-align: center;
  }
  

 
    .mx-auto.text-center {
      text-align: center;
      margin: 0 auto;
    }
  
    .mt-5 {
      margin-top: 5rem;
    }

    .upcoming-bookings {
        font-size: 20px;
      }
  
    .past-bookings {
      font-size: 20px;
    }
  